.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
static/cache/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
