.avatar {
    color: $white;
    padding: 0;
    box-shadow: none;
    border: none;
    border-radius: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    overflow: hidden;
    font-family: $font-family-base;

    &-primary {
        background-color: $primary;
    }

    &-secondary {
        background-color: $secondary-400;
    }

    &-guest {
        background-color: $a-200;
        background-image: escape-svg($avatar-guest-bg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 65%;
    }

    &-image {
        img {
            max-width: 100%;
            object-fit: fill;
            object-position: center center;
        }
    }

    &-xs {
        width: 2rem;
        height: 2rem;
        @include font-size($font-size-xs);
        font-weight: 500;
        line-height: 2rem;
    }

    &-sm {
        width: 2.5rem;
        height: 2.5rem;
        @include font-size($h4-font-size);
        font-weight: 500;
        line-height: 2.5rem;
    }

    &-md {
        width: 4rem;
        height: 4rem;
        @include font-size($h3-font-size);
        font-weight: 600;
        line-height: 4rem;
    }

    &-lg {
        width: 5rem;
        height: 5rem;
        @include font-size($h2-font-size);
        font-weight: 600;
        line-height: 5rem;
    }

    &-xl {
        width: 8rem;
        height: 8rem;
        @include font-size($h1-font-size);
        font-weight: 500;
        line-height: 8rem;
    }
}