files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://127.0.0.1:3000;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
       -----BEGIN CERTIFICATE-----
      MIIErDCCA5SgAwIBAgIUIyL+jWSbWxHW6nVhsU9k/tbfumwwDQYJKoZIhvcNAQEL
      BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
      MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
      aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
      MB4XDTIwMDIxMTE1NDMwMFoXDTM1MDIwNzE1NDMwMFowYjEZMBcGA1UEChMQQ2xv
      dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
      BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
      9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsZKGVNeT2nWnyhcJSHl0FzRbKe6UwyOKgS4N
      81ce3Pc2hOqCMZm85BxIq7DSACP8ITN79+/LRtl2Adm6uadZ6hFf6+GpLXknL4gW
      6+z45BqhMZH632SD+ROdsLlMF4lDzEzrqqK95kXyi9yEbYCsBwpdHDQY9UbvkkeX
      nr09J5Nax+ZvkcAqvGhNdYjvkCFvhz9aS2ScvuelfHsHUhmqUbgEJtqFfwWaW961
      dEqFriArp92AwSQHo5V+43XF1nF3cqqnQZ7CIzgasRr4uzfwrrB4SJclTSsQKn/L
      t6WflHlD4J4Ijjo7zabsycRsvl0s6qRebNJLFfrnowQkPVHWhQIDAQABo4IBLjCC
      ASowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
      ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTYaiRktPMz/M1niBvdhLNQJnk0UDAf
      BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
      MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
      YTAvBgNVHREEKDAmghIqLnJlY2xpcXVlY29yZS5jb22CEHJlY2xpcXVlY29yZS5j
      b20wOAYDVR0fBDEwLzAtoCugKYYnaHR0cDovL2NybC5jbG91ZGZsYXJlLmNvbS9v
      cmlnaW5fY2EuY3JsMA0GCSqGSIb3DQEBCwUAA4IBAQBsNFpItkSncdO8y6JosIma
      /T0QFSmAKJlvN2ODwA8EnXpbctkX3xQC8LNLmFCBjZ8H9PRNKI3S9RYzULzIXPBW
      7KAnkAkS7IpSPFBpS6ufBP9vDpK7VWzXsX4G+vaEIIdUG+p6S8r1grPd1VpkPuFm
      73obrv7R0kQbyvCRrifNnRfDvsTrQL0hy4r16XyN7NNDRuzbKsRq+vHmLe7/HG99
      CWQfVqTrvrYICC1KVOOdpDvKwNFjAG0CxvQteVUu5L5cAiD+G986RePh9f/zpqI3
      k9cEK9C9xZ83CQliBBXi9S2yJS5EOuWLDYi+lIPGGupPZqXry4nvoxAu3tg2HWuS
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCxkoZU15PadafK
      FwlIeXQXNFsp7pTDI4qBLg3zVx7c9zaE6oIxmbzkHEirsNIAI/whM3v378tG2XYB
      2bq5p1nqEV/r4akteScviBbr7PjkGqExkfrfZIP5E52wuUwXiUPMTOuqor3mRfKL
      3IRtgKwHCl0cNBj1Ru+SR5eevT0nk1rH5m+RwCq8aE11iO+QIW+HP1pLZJy+56V8
      ewdSGapRuAQm2oV/BZpb3rV0SoWuICun3YDBJAejlX7jdcXWcXdyqqdBnsIjOBqx
      Gvi7N/CusHhIlyVNKxAqf8u3pZ+UeUPgngiOOjvNpuzJxGy+XSzqpF5s0ksV+uej
      BCQ9UdaFAgMBAAECggEADkWlWSuEL/ENwHBWYpZBFn4IB2hXBGchIk2vY9v1ov4V
      9PFnRPF4bTTObMmXBgQJEf8SFe+r8itsxhcioE+F1R+6iq+AujhXBgWQDWbRa1NY
      74PDkDxt31wBrDBRysDRgO8RcE3JFGQSAPFDTeIjZs52WjEKwiixJ9vsC7S7Nf4K
      L4WvDcUX103pSllx2w7MmL0+ctBDAJmX7QFJIu0i2Etd255zSHYVbnDsyA7FbJbN
      mN3kBumtvAUo0BAbkQjsg9jMyTHnTJKM3SaFo5fthHVoPRNpq2aMX6W6fu4KcoQu
      X6Lc/jLoRd3jjwLHBoGWaE3QKV2P+WUuOUgYLYrWoQKBgQDkFbSFDBYxpj460Bls
      bIeGNpDFZFfRXp36sfpim+RNwghkkB3cE7kWXgL1hAfFuWUYR5EVXtA/NoStGVzV
      PUIqGhnQNbr5uQplDWeHA0MydUrnXzSDk3Sr/JcAsPW2GNg4pDB22ZffTcjAALjA
      nVMFed4UD6RDmu9vhJucG3Sx4QKBgQDHTi1V+fZX87TTw7j+nwDBS3DajXf9/xPk
      r5NX/1fgB4uWMYHMip3JAec9uNIt7QQ6EwUdg94xzICY1biM4QqU91U6mNnS9leV
      BMYxrXJqO0eWCCFHvw5ZabIDXepdR4PKqJ8xON6N/Gc9lfZMaIzRLwPm0CJBYd7H
      dxv94YpBJQKBgHnVOkMjbKuCsJT72ci3xECl3vkBm4Mj9mEWNrf7q5z5e0A0Vy7a
      fjB7cTsyFnDAkkbA27e9mKFbfs1z0cm52iDhJk64lLKV6/6EhXtx+6/1RViH22Y5
      GsZPu11MKUPmy4Cd+6FQo7ZNN2GQQR/qKZGwQjcXD9ho52L7Q5/EbrYhAoGAO+Bf
      vGm5OZks5UXyyQQp7OhmQjKoLvW4G0coRBKhatu5cujyrumiF6Zru15QPp3rXCsk
      qUZZtapTpBbpN+HQFQrtXwpWvotlqo5hoMEUE5g1nHxayzw56mDXqy1G4LlAfd0E
      3nvQWOXQem8YLMJoM9wlFu3GrM/jZxeAoFhm+cUCgYBSp0o5p+orefzYHmDSnMwl
      duXMV/YchZY/07guBEXheocZHIH4jMHpRaRlpqYzzLz0CfO68w0AG6RbWp+3SV+N
      dv3/6Mw8ibFVpxBxGLuy0wfop5s2OUxOf+qfr2ifnMnIKp776aterpPX7L8raRvT
      Gk6fUWBxeWkCtxYbwKRCJg==
      -----END RSA PRIVATE KEY-----